<!--app-breadcrumb></app-breadcrumb-->

<div class="row">
    <div class="col-md-12">
        <form-wizard #wizard [isCustomNav]="true">


            <wizard-step [title]="'module.title' | translate" [isValid]="">
                <div class="row my-3">
                    @for (type of modules$; track type.key) {
                    <div class="col-sm-4 col-lg-3 col-xl-2">
                        <div class="card card-profile-1 card-zoom mb-4" (click)="loadProcessDefinition(type.id)">
                            <div class="card-body text-center">
                                <div class="avatar rounded-1 mb-3 border p-1">
                                    <img [src]="moduleImage(type.key)" [alt]="type.name">
                                </div>
                                <span class="m-0 fw-semibold py-2 text-9 text-truncate">{{ type.name }}</span>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </wizard-step>

            <wizard-step #serviceStepWizard [title]="'process.available' | translate">
                <div class="row my-3">
                    @for (service of processDefinition$; track service.key) {
                    <div class="col-sm-4 col-lg-3 col-xl-2">
                        <div class="card card-profile-1 card-zoom mb-4 position-relative" (click)="loadForm(service)">
                            <div class="card-body text-center">
                                <div class="avatar rounded-1 mb-3 border p-1">
                                    <img [src]="processImage(service.key)" [alt]="service.name">
                                </div>
                                <span class="m-0 fw-semibold text-9 text-truncate">{{ service.name }}</span>
                                <!--p class="m-0 py-2 fw-medium text-7 text-truncate">{{ service.description }}</p-->
                            </div>
                        </div>
                    </div>
                    }
                </div>

                <div class="col-md-12 text-start mb-4">
                    <button class="btn btn-dark" (click)="wizard.previous()">{{ 'btn.previous' | translate }}</button>
                </div>
            </wizard-step>

            <wizard-step [title]="'process.init' | translate" [isValid]="initForm?.valid" (onNext)="onConfirmStep()">
                @if (processSelected) {
                <div class="my-3 mb-4">
                    <div class="d-sm-flex flex-wrap mb-2">
                        <div class="d-inline-flex flex-grow-1 gap-3">
                            <div class="avatar-lg center rounded-1 mb-3 border p-1">
                                <img [src]="processImage(processSelected.key)" [alt]="processSelected.name">
                            </div>
                            <div class="mt-1">
                                <h5 class="m-0 fw-semibold text-14">{{ processSelected.name }}</h5>
                                <p class="m-0 py-2 fw-medium">{{ processSelected.description }}</p>
                            </div>
                        </div>

                        <div class="d-flex flex-column justify-content-between">
                            <a role="button" class="link-offset-2-hover" (click)="openModal(modalPaymentInstructions)">
                                <i class="i-Information pe-1"></i>
                                <span>{{ 'transactions.service_instructions' | translate }}</span>
                            </a>
                        </div>
                    </div>



                    <form [formGroup]="initForm" (ngSubmit)="startProcess()">



                        <div class="row">
                            @if(processForm){
                            @for (item of processForm.components; track item.id) {
                            <div class="form-group"
                                [ngClass]="item.layout.columns ? ('col-' + item.layout.columns) : 'col-12'">
                                <label>
                                    {{ item.label }}
                                    @if (item.validate){
                                    @if (item.validate.required) {<span class="text-danger"> *</span>}
                                    }
                                </label>

                                @if (['textfield'].includes(item.type.toLowerCase())) {
                                <input class="form-control" formControlName="{{item.key}}" type="text"
                                    [ngClass]="{ 'is-invalid': isSubmitted && sf?.[item.key]?.invalid}">
                                }
                                @if (['number'].includes(item.type.toLowerCase())) {
                                <input class="form-control" formControlName="{{item.key}}" type="number"
                                    [ngClass]="{ 'is-invalid': isSubmitted && sf?.[item.key]?.invalid}">
                                }
                                @if (['text'].includes(item.type.toLowerCase())) {
                                <p [innerHtml]="item.text"></p>
                                }
                                @if (['select'].includes(item.type.toLowerCase())) {
                                <ng-select class="custom" [clearable]="false" formControlName="{{item.key}}"
                                    [ngClass]="{'is-invalid' : isSubmitted && sf?.[item.key]?.invalid}">
                                    @for (opt of item.values; track opt) {
                                    <ng-option [value]="opt.value"> {{ opt.label }}</ng-option>
                                    }
                                </ng-select>
                                }
                                @if (['checklist'].includes(item.type.toLowerCase())) {
                                <div *ngFor="let option of item.values">
                                    <label class="checkbox checkbox-primary">
                                        <input class="form-ch" formControlName="{{item.key}}"
                                            [ngClass]="{'is-invalid' : isSubmitted && sf?.[item.key]?.invalid}"
                                            type="checkbox" [value]="option.value">
                                        <span>{{ option.label }}</span>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                }
                                @if (['textarea'].includes(item.type.toLowerCase())) {
                                <textarea class="form-control" rows="10" formControlName="{{item.key}}"
                                    placeholder="Saisir le commentaire..."
                                    [ngClass]="{'is-invalid' : isSubmitted && sf?.[item.key]?.invalid}"></textarea>

                                }
                                @if (['radio'].includes(item.type.toLowerCase())) {
                                <div class="radio-group">
                                    <label *ngFor="let option of item.values" class="radio-label">
                                        <input type="radio" [formControlName]="item.key" [value]="option.value" disabled="{{item.disabled}}">
                                        <span>{{ option.label }}</span>
                                    </label>
                                </div>
                                <small *ngIf="item.description" class="field-description">{{ item.description }}</small>
                                
                                }
                                @if (['checkbox'].includes(item.type.toLowerCase())) {
                                <label class="checkbox checkbox-primary">
                                    <input class="form-ch" type="checkbox" [formControlName]="item.key" disabled="{{item.disabled}}"
                                        [ngClass]="{'is-invalid' : isSubmitted && sf?.[item.key]?.invalid}">
                                    <span class="checkmark"></span>
                                </label>
                                <small *ngIf="item.description" class="field-description">{{ item.description }}</small>
                                }


                                <!--@else if (item.type.toLowerCase() === 'date') {
                                                <div class="input-group">
                                                    <input ngbDatepicker name="dp" #dp="ngbDatepicker" class="form-control" [minDate]="minDate" [maxDate]="maxDate"
                                                           formControlName="{{item.name}}" placeholder="yyyy-mm-dd" (click)="dp.toggle()"
                                                           [ngClass]="{ 'is-invalid': isSubmitted && sf?.[item.name]?.invalid}">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-secondary" (click)="dp.toggle()" type="button">
                                                            <i class="icon-regular i-Calendar-4"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            } @else if (item.type.toLowerCase() === 'select') {
                                                <ng-select class="custom" [clearable]="false" formControlName="{{item.name}}"
                                                           [ngClass]="{'is-invalid' : isSubmitted && sf?.[item.name]?.invalid}">
                                                    @for (opt of item.options; track opt) {
                                                        <ng-option [value]="opt.id"> {{ opt.label }}</ng-option>
                                                    }
                                                </ng-select>
                                            }-->
                            </div>
                            }
                            }
                        </div>


                        <div class="col-md-12 d-flex justify-content-between mt-4">
                            <button class="btn btn-dark" type="button" (click)="wizard.previous()">{{ 'btn.previous' |
                                translate }}</button>
                            <button class="btn btn-success" type="submit">{{ 'btn.start' | translate }}</button>
                        </div>
                    </form>

                </div>
                }
            </wizard-step>

            <!--wizard-step [title]="'transactions.payment_confirm' | translate">
                @if (isFormCompleted) {
                    <div class="my-3 mb-0">
                        <div class="d-flex flex-wrap mb-2">
                            <div class="d-inline-flex flex-grow-1 gap-3">
                                <div class="avatar-lg center rounded-1 mb-3 border p-1">
                                    <img [src]="currService.logo | prefixImgUrl" [alt]="currService.name">
                                </div>
                                <div class="mt-1">
                                    <h5 class="m-0 fw-semibold text-14">{{ currService.name }}</h5>
                                    <p class="m-0 py-2  fw-medium">{{ currService.description }}</p>
                                    @if (currService.maintenance) {
                                        <span class="badge rounded-pill text-bg-warning">
                                            {{ 'badge.service_unavailable' | translate }}
                                        </span>
                                    }
                                </div>
                            </div>

                            <div class="d-flex flex-column justify-content-between">
                                @if (currService.instructions) {
                                    <a role="button" class="link-offset-2-hover" (click)="openModal(modalPaymentInstructions)">
                                        <i class="i-Information pe-1"></i>
                                        <span>{{ 'transactions.service_instructions' | translate }}</span>
                                    </a>
                                }

                                @if (authSrv.isBankUser) {
                                    <div class="text-start text-sm-end my-2">
                                        <div class="fw-bold fs-4" [ngClass]="+balanceAccount?.balance > +paymentInitiate.totalAmount ? 'text-primary' : 'text-danger'">
                                            {{ (balanceAccount?.balance | number:'1.0-0') || 'N/A' }}
                                            {{ balanceAccount?.currency?.code || 'XAF' }}
                                        </div>
                                        <small class="text-muted">{{ 'account.balance_operation' | translate }}</small>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-14 fw-semibold">{{ 'transactions.detail_transaction' | translate }}</p>

                            @if (currService.withRef) {
                                <div class="col-md-4 col-6" >
                                    <div class="mb-4">
                                        <p class="text-primary mb-1"><i class="i-Yes text-16 me-1"></i> {{ 'table.reference' | translate }}</p>
                                        <span class="text-14 fw-semibold">{{ paymentInitiate.reference }}</span>
                                    </div>
                                </div>
                            }

                            <div class="col-md-4 col-6" >
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-Yes text-16 me-1"></i> {{ 'form.amount_label' | translate }}</p>
                                    <span class="text-14 fw-semibold">{{ paymentInitiate.amount | currency: 'XAF' }}</span>
                                </div>
                            </div>

                            @if (paymentInitiate.clientFees) {
                                <div class="col-md-4 col-6" >
                                    <div class="mb-4">
                                        <p class="text-primary mb-1"><i class="i-Yes text-16 me-1"></i> {{ 'table.client_fees' | translate }}</p>
                                        <span class="text-14 fw-semibold">{{ paymentInitiate.clientFees | currency: 'XAF' }}</span>
                                    </div>
                                </div>
                            }

                            @if (paymentInitiate.totalAmount) {
                                <div class="col-md-4 col-6" >
                                    <div class="mb-4">
                                        <p class="text-primary mb-1"><i class="i-Yes text-16 me-1"></i> {{ 'table.total_amount' | translate }}</p>
                                        <span class="text-14 fw-semibold">{{ paymentInitiate.totalAmount | currency: 'XAF' }}</span>
                                    </div>
                                </div>
                            }

                            @for (data of paymentInitiate.information; track data) {
                                <div class="col-md-4 col-6" >
                                    <div class="mb-4">
                                        <p class="text-primary mb-1"><i class="i-Yes text-16 me-1"></i> {{ data.name }}</p>
                                        <span class="fw-medium">{{ data.value }}</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-12 d-inline-flex justify-content-between mb-4">
                        <button class="btn btn-dark" type="button" (click)="wizard.goToStep(serviceStepWizard, 2)">{{ 'btn.cancel' | translate }}</button>
                        <button class="btn btn-primary" type="button" (click)="openConfirmModal()">{{ 'btn.confirm' | translate }}</button>
                    </div>
                }
            </wizard-step-->
        </form-wizard>

    </div>
</div>

<ng-template #modalPaymentInstructions let-modal>
    <div class="modal-header">
        <h4 class="modal-title fw-semibold" id="modal-payment-instructions">{{ 'transactions.service_instructions' |
            translate }}</h4>
        <a role="button" class="btn btn-close" aria-label="Close" (click)="modal.close()"></a>
    </div>
    <div class="modal-body">
        <div class="my-3" [innerHTML]="safeInstructions"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">{{ 'btn.close' | translate }}</button>
    </div>
</ng-template>