<app-breadcrumb></app-breadcrumb>

<div class="row" id="scroll-container">
    <div class="col-md-12">
        <div class="card o-hidden">
            <div class="p-4">
                <div class="mb-4 row">
                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-3">
                        <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="searchTerm"
                               (input)="filterUpdate($event)" [placeholder]="'form.search_plh' | translate"/>
                    </div>
                    @if (loading$ | async) {
                        <span class="col col-form-label">Loading...</span>
                    }
                </div>

                <div class="rounded-table overflow-x-auto">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th class="px-3" scope="col" role="button">Référence</th>
                            <th scope="col" role="button">Client</th>
                            <th scope="col" role="button">Equivalence</th>
                            <th scope="col" role="button">Test</th>
                            <th scope="col" role="button">Sélection</th>
                            <th scope="col" role="button">Résidence</th>
                            <th scope="col" role="button">Reste à Payer</th>
                            <th class="text-center"  scope="col" role="button">Status</th>
                            <th class="text-center" scope="col" role="button">{{ 'table.action' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (contrat of items$ | async; track contrat.id) {
                                <tr>
                                    <td class="px-3"><ngb-highlight [result]="contrat.reference" [term]="searchTerm" /></td>
                                    <td><ngb-highlight [result]="contrat.consultation.inscription.fullName" [term]="searchTerm" /></td>
                                    <!--td >{{(contrat.creationDate | date: 'medium') || 'N/A' }}</td-->

                                    <td class="px-3"> 
                                        <span *ngIf="contrat.equivalenceStatus=='COMPLETED'" class="badge rounded-pill p-2 text-bg-primary text-white">
                                            OK
                                        </span>

                                        <span *ngIf="contrat.equivalenceStatus!='COMPLETED'" class="badge rounded-pill p-2 text-bg-danger text-white">
                                            {{ (contrat.equivalenceStatus  | uppercase) || 'N/A' }}
                                        </span>

                                        <span *ngIf="contrat.diplomaStatus=='BACK'" class="badge rounded-pill p-2 text-bg-primary text-white">
                                            {{ (contrat.diplomaStatus  | uppercase) || 'N/A' }}
                                        </span>

                                        <span *ngIf="contrat.diplomaStatus!='BACK'" class="badge rounded-pill p-2 text-bg-danger text-white">
                                            {{ (contrat.diplomaStatus  | uppercase) || 'N/A' }}
                                        </span>
                                        
                                    </td>

                                    <td class="">

                                        <span *ngIf="contrat.testExamStatus=='SUCCESS'" class="badge rounded-pill p-2 text-bg-primary text-white">
                                            OK
                                        </span>

                                        <span *ngIf="contrat.testExamStatus!='SUCCESS'" class="badge rounded-pill p-2 text-bg-danger text-white">
                                            {{ (contrat.testExamStatus  | uppercase) || 'N/A' }}
                                        </span>

                                    </td>


                                    <td class=""> 

                                        <span *ngIf="contrat.selectionStatus=='SUCCESS'" class="badge rounded-pill p-2 text-bg-primary text-white">
                                            OK
                                        </span>

                                        <span *ngIf="contrat.selectionStatus!='SUCCESS'" class="badge rounded-pill p-2 text-bg-danger text-white">
                                            {{ (contrat.selectionStatus  | uppercase) || 'N/A' }}
                                        </span>
                                    </td>

                                    <td class="">

                                        <span *ngIf="contrat.permanentStatus=='SUCCESS'" class="badge rounded-pill p-2 text-bg-primary text-white">
                                            OK
                                        </span>

                                        <span *ngIf="contrat.permanentStatus!='SUCCESS'" class="badge rounded-pill p-2 text-bg-danger text-white">
                                            {{ (contrat.permanentStatus  | uppercase) || 'N/A' }}
                                        </span>
                                    
                                    </td>


                                    <td> 
                                        <span *ngIf="contrat.restToPay==0" class="badge rounded-pill p-2 text-bg-primary text-white">
                                            {{ contrat.restToPay | currency:'XAF' }}
                                        </span>

                                        <span *ngIf="contrat.restToPay!=0" class="badge rounded-pill p-2 text-bg-danger text-white">
                                            {{ contrat.restToPay | currency:'XAF' }}
                                        </span>
                                        
                                    </td>

                                    <td class="col-status">
                                        <span *ngIf="contrat.status=='FINISHED'" class="badge rounded-pill p-2 text-bg-primary text-white">
                                           OK
                                        </span>
                                         <span *ngIf="contrat.status!='FINISHED'" class="badge rounded-pill p-2 text-bg-danger text-white">
                                            {{ contrat.status  | uppercase }}
                                        </span>
                                    </td>
                                    <td class="col-action" ngbDropdown container="body">
                                        <button role="button" class="btn bg-white border-0 visible-none" id="actionDropdown" ngbDropdownToggle>
                                            <span class="line-height-1 text-14 fw-bolder">...</span>
                                        </button>

                                        <div ngbDropdownMenu aria-labelledby="actionDropdown">
                                            <!--button role="button" class="dropdown-item" (click)="openModal(agency)">
                                                <i class="i-Information text-14 pe-1"></i>
                                                Détail
                                            </button-->
                                             <button role="button" class="dropdown-item" (click)="openMoney(contrat)">
                                                <i class="i-Information text-14 pe-1"></i>
                                                Détail
                                            </button>
                                             <button role="button" class="dropdown-item" (click)="downloadDocument(contrat.reference, 'contract')">
                                                <i class="i-Receipt text-14 pe-1"></i>
                                                Contrat
                                            </button>
                                           

                                            <button role="button" class="dropdown-item" (click)="viewOperationReview(agency)"
                                                    *hasPermission="Permission.AGENCY_OPEN">
                                                <i class="i-Power-2 text-14 pe-1"></i>
                                                {{('btn.agent_available.' + agency.avaibility) | translate}}
                                            </button>
                                            <button role="button" class="dropdown-item" (click)="openConfirmModal(agency)"
                                                    *hasPermission="Permission.AGENCY_ENABLE">
                                                <i class="i-Lock-2 text-14 pe-1"></i>
                                                {{('btn.agency_active.' + !agency.enabled) | translate}}
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            } @empty {
                                <tr>
                                    <td colspan="8" style="text-align: center">
                                        {{ 'table.empty_data' | translate }}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="d-flex flex-wrap gap-3 justify-content-between py-2">
                    <ngb-pagination [collectionSize]="pagination?.totalItems || 0" [page]="pagination?.page"
                                    [pageSize]="pagination?.pageSize" (pageChange)="setPage($event)" [boundaryLinks]="true">
                    </ngb-pagination>

                    <div class="d-flex">
                        <label class="text-14 fw-medium py-2 pe-3">
                            {{ 'table.item_per_page' | translate }}
                        </label>
                        <ng-select [items]="pageSizeOptions" class="custom" [dropdownPosition]="'top'" [clearable]="false" name="pageSize"
                                   (change)="setPageSize($event)" [ngModel]="pagination?.pageSize">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
