<div class="rounded-table mt-4">
    <table class="table table-hover mb-0">
        <thead>
        <tr>
            @for (column of columns; track column) {
                <th>{{ 'table.' + column | translate }}</th>
            }
        </tr>
        </thead>
        <tbody>
            @for (item of pagedData; track item.key) {
                <tr>
                    @for (column of columns; track item + columns) {
                        <td>{{ item[column] | translate }}</td>
                    }
                </tr>
            } @empty {
                <tr>
                    <td colspan="2" style="text-align: center">{{ 'table.empty_data' | translate }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Pagination -->
<div class="d-flex justify-content-between py-2">
    <div class="d-flex">
        <label class="text-14 fw-medium py-2 pe-3">
            {{ 'table.item_per_page' | translate }}
        </label>
        <ng-select [items]="[5, 10, 20]" class="custom" [(ngModel)]="pageSize" [clearable]="false" [dropdownPosition]="'top'"
                   (change)="onPageSizeChange($event)">
        </ng-select>
    </div>

    <ngb-pagination [collectionSize]="totalItems!" [(page)]="currentPage" [pageSize]="pageSize" (pageChange)="onPageChange($event)">
    </ngb-pagination>
</div>
