<div class="rounded-table">
    <table class="table table-hover mb-0">
        <thead>
        <tr>
            @for (col of columns; track col) {
                <th *ngFor="let col of columns" (click)="onSort(col.key, 'asc')">
                    {{ col.label }}
                </th>
            }
        </tr>
        </thead>
        <tbody>
            @for (item of data; track item) {
                <tr (click)="onRowClick(item)">
                    @for (col of columns; track col) {
                        <td><ngb-highlight [result]="item[col.key]" [term]="item[col.key]" /></td>
                    }
                </tr>
            } @empty {
                <tr>
                    <td colspan="{{columns.length}}" style="text-align: center">{{ 'table.empty_data' | translate }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Pagination -->
<div class="d-flex justify-content-between py-2">
    <div>
        <ng-select class="custom" [appendTo]="'body'" [clearable]="false" (change)="onSizeChange($event)">
            <ng-option [value]="10">{{ 'table.item_per_page' | translate: { size: 10 } }}</ng-option>
            <ng-option [value]="20">{{ 'table.item_per_page' | translate: { size: 20 } }}</ng-option>
            <ng-option [value]="40">{{ 'table.item_per_page' | translate: { size: 40 } }}</ng-option>
        </ng-select>
    </div>

    <ngb-pagination [collectionSize]="total!" [(page)]="pageIndex" [pageSize]="pageSize" (pageChange)="onPageChange($event)">
    </ngb-pagination>
</div>
