<app-breadcrumb></app-breadcrumb>

<div class="">
    @if (!authSrv.isBankUser) {
    <div class="row row-gap-4">
        <div class="col-xxl-4 col-md-6 mb-4" *hasPermission="Permission.ACCOUNT_OPERATION_VIEW">
            <div class="card account-card operation p-3">
                <div class="d-md-flex gap-3 justify-content-between align-items-center mb-2">
                    <h5 class="mb-2 mb-md-0 text-white">{{ operationAcc?.title || 'N/A' }}</h5>
                    <div>
                        <span class="badge px-3 text-12 line-height-1 text-bg-warning bg-white rounded-5">
                          {{ 'account.type_operation' | translate  }}
                        </span>
                    </div>
                </div>

                <div class="mt-1">
                    <div class="fw-bold fs-2">
                        {{ (operationAcc?.balance | number:'1.0-0') || 'N/A' }}
                        {{ operationAcc?.currency?.code || 'XAF' }}
                    </div>
                    <small class="text-muted-light">{{ 'account.balance_available' | translate }}</small>
                </div>
            </div>
        </div>

        <div class="col-xxl-4 col-md-6 mb-4" *hasPermission="Permission.ACCOUNT_COMMISSION_VIEW">
            <div class="card account-card commission p-3">
                <div class="d-md-flex gap-3 justify-content-between align-items-center mb-2">
                    <h5 class="mb-2 mb-md-0 text-white">{{ commissionAcc?.title || 'N/A' }}</h5>
                    <div>
                        <span class="badge px-3 text-12 line-height-1 text-bg-light bg-white rounded-5">
                          {{ 'account.type_commission' | translate  }}
                        </span>
                    </div>
                </div>

                <div class="mt-1">
                    <div class="fw-bold fs-2">
                        {{ (commissionAcc?.balance | number:'1.0-0') || 'N/A' }}
                        {{ commissionAcc?.currency?.code || 'XAF' }}
                    </div>
                    <small class="text-muted-light">{{ 'account.balance_available' | translate }}</small>
                </div>
            </div>
        </div>
    </div>
    }

    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">{{ 'dashboard.stats_monthly' | translate }}</div>
                    <div echarts [options]="monthsChartBar" [autoResize]="true" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">{{ 'dashboard.stats_by_services' | translate }} (XAF)</div>
                    <div echarts [options]="servicesChartPie" [autoResize]="true" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card o-hidden">
            <div class="card-body">
                <div class="card-title">{{ 'dashboard.last_transaction' | translate }}</div>
                <div class="rounded-table overflow-x-auto">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th scope="col" role="button" class="px-3">{{ 'table.reference' | translate }}</th>
                            <th scope="col" role="button">{{ 'table.service_reference' | translate }}</th>
                            <th scope="col" role="button">{{ 'table.service' | translate }}</th>
                            <th scope="col" role="button">{{ 'table.agency' | translate }}</th>
                            <th class="text-end pe-3" scope="col" role="button">{{ 'table.amount' | translate }}</th>
                            <th class="text-center" scope="col" role="button">{{ 'table.trx_date' | translate }}</th>
                            <th class="text-center" scope="col" role="button">{{ 'table.status' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (transaction of transactions; track transaction.id) {
                                <tr>
                                    <td class="col-reference text-truncate px-3">
                                        {{ transaction.receiptId || 'N/A' }}
                                    </td>
                                    <td>{{ transaction.reference || 'N/A' }}</td>
                                    <td>
                                        <img [src]="transaction.serviceLogo | prefixImgUrl" [alt]="" class="me-2" style="width: 30px"/>
                                        {{ transaction.serviceName }}
                                    </td>
                                    <td>{{ transaction.cashier.agency.name }}</td>
                                    <td class="text-end pe-3">
                                        {{ (transaction.amount | number: '1.0-0') +' XAF' }}
                                    </td>
                                    <td class="text-center">{{(transaction.date | date: 'medium') || 'N/A' }}</td>
                                    <td class="col-status">
                                        <span class="badge rounded-pill p-2 text-bg-{{ transaction.status | statusBadge }}">
                                            {{ 'badge.' + transaction.status | translate | uppercase }}
                                        </span>
                                    </td>
                                </tr>
                            } @empty {
                                <tr>
                                    <td colspan="7" style="text-align: center">
                                        {{ 'table.empty_data' | translate }}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
