<app-breadcrumb></app-breadcrumb>

<div class="row" id="scroll-container">
    <div class="col-md-12">
        <div class="card o-hidden">
            <div class="p-4">
                <div class="mb-4 row">
                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-3">
                        <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
                               [(ngModel)]="searchTerm" [placeholder]="'form.search_plh' | translate"/>
                    </div>
                    @if (loading$ | async) {
                        <span class="col col-form-label">Loading...</span>
                    }
                </div>

                <div class="rounded-table overflow-x-auto">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th scope="col" role="button" class="px-3">{{ '#ID' | translate }}</th>
                            <th scope="col" role="button" sortable="reference" (sort)="onSort($event)">
                                {{ 'table.reference' | translate }}
                            </th>
                            <th scope="col" role="button" sortable="reference" (sort)="onSort($event)">
                                {{ 'table.service' | translate }}
                            </th>
                            <th scope="col" role="button" sortable="amount" (sort)="onSort($event)">
                                {{ 'table.amount' | translate }}
                            </th>
                            <th scope="col" role="button" sortable="date" (sort)="onSort($event)">
                                {{ 'table.trx_date' | translate }}
                            </th>
                            <th scope="col" role="button" sortable="date" (sort)="onSort($event)">
                                {{ 'table.status' | translate }}
                            </th>
                            <th scope="col" role="button">{{ 'table.action' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (transaction of items$ | async; track transaction.id) {
                                <tr>
                                    <td class="col-reference text-truncate px-3">{{ transaction.id }}</td>
                                    <td><ngb-highlight [result]="transaction.reference" [term]="searchTerm" /></td>
                                    <td>
                                        <img [src]="transaction.serviceLogo | prefixImgUrl" [alt]="" class="me-2" style="width: 20px"
                                        />
                                        <ngb-highlight [result]="transaction.serviceName" [term]="searchTerm" />
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="transaction.amount | currency: 'XAF'" [term]="searchTerm" />
                                    </td>
                                    <td>{{(transaction.date | date: 'dd/MM/yyyy à HH:mm') || 'N/A' }}</td>
                                    <td>{{transaction.status}}</td>
                                    <td class="col-status"></td>
                                </tr>
                            } @empty {
                                <tr>
                                    <td colspan="4" style="text-align: center">{{ 'table.empty_data' | translate }}</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="d-flex flex-wrap gap-3 justify-content-between py-2">
                    <ngb-pagination [collectionSize]="pagination?.totalItems || 0" [page]="pagination?.page"
                                    [pageSize]="pagination?.pageSize" (pageChange)="setPage($event)" [boundaryLinks]="true">
                    </ngb-pagination>

                    <div class="d-flex">
                        <label class="text-14 fw-medium py-2 pe-3">
                            {{ 'table.item_per_page' | translate }}
                        </label>
                        <ng-select [items]="pageSizeOptions" class="custom" [dropdownPosition]="'top'" [clearable]="false" name="pageSize"
                                   (change)="setPageSize($event)" [ngModel]="pagination?.pageSize">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
