<app-breadcrumb [subName]="paramsFilter?.name || ''"></app-breadcrumb>

<div class="row" id="scroll-container">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title mb-2">{{ 'form.search_advanced' | translate }}</div>
                <form [formGroup]="filterForm" (ngSubmit)="search()">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>{{ 'form.reference_label' | translate }}</label>
                            <input class="form-control" formControlName="reference" type="text"
                                   [placeholder]="'form.reference_plh' | translate">
                        </div>
                        <div class="col-sm-6 col-md-4 form-group">
                            <label>{{ 'form.start_date_label' | translate }}</label>
                            <div class="input-group">
                                <input ngbDatepicker name="startDate" #dpStart="ngbDatepicker" class="form-control"
                                       formControlName="startDate" placeholder="yyyy-mm-dd" (click)="dpStart.toggle()">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" (click)="dpEnd.toggle()" type="button">
                                        <i class="icon-regular i-Calendar-4"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 form-group">
                            <label>{{ 'form.end_date_label' | translate }}</label>
                            <div class="input-group">
                                <input ngbDatepicker name="endDate" #dpEnd="ngbDatepicker" class="form-control"
                                       formControlName="endDate" placeholder="yyyy-mm-dd" (click)="dpEnd.toggle()">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" (click)="dpEnd.toggle()" type="button">
                                        <i class="icon-regular i-Calendar-4"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 text-end my-2">
                            <button type="button" (click)="resetFilter()" class="btn-dark btn me-4">{{ 'btn.reset' | translate }}</button>
                            <btn-loading btnClass="btn-primary btn" [loadingText]="'btn.search_loading' | translate" [loading]="loading$ | async">
                                {{ 'btn.search' | translate }}
                            </btn-loading>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card o-hidden">
            <div class="p-4">
                <div class="mb-4 row">
                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-3">
                        <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="searchTerm"
                               (input)="filterUpdate($event)" [placeholder]="'form.search_plh' | translate"/>
                    </div>
                    @if (loading$ | async) {
                        <span class="col col-form-label">Loading...</span>
                    }
                </div>

                <div class="rounded-table overflow-x-auto">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th scope="col" role="button" class="px-3">{{ '#ID' | translate }}</th>
                            <th scope="col" role="button">{{ 'table.reference' | translate }}</th>
                            <th scope="col" role="button">{{ 'table.service' | translate }}</th>
                            @if (historyType) {
                                <th scope="col" role="button">{{ 'table.agent' | translate }}</th>
                            }
                            @if (historyType === 'global') {
                                <th scope="col" role="button">{{ 'table.agency' | translate }}</th>
                            }
                            <th class="text-end pe-3" scope="col" role="button">{{ 'table.amount' | translate }}</th>
                            <th scope="col" role="button">{{ 'table.trx_date' | translate }}</th>
                            <th class="text-center" scope="col" role="button">{{ 'table.status' | translate }}</th>
                            <th class="text-center" scope="col" role="button">{{ 'table.action' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (transaction of items$ | async; track transaction.id) {
                                <tr>
                                    <td class="col-reference text-truncate px-3">
                                        <ngb-highlight [ngbTooltip]="(transaction.receiptId || 'N/A')"
                                                       [result]="transaction.receiptId || 'N/A'" [term]="searchTerm" />
                                    </td>
                                    <td><ngb-highlight [result]="transaction.reference || 'N/A'" [term]="searchTerm" /></td>
                                    <td>
                                        <img [src]="transaction.serviceLogo | prefixImgUrl" [alt]="" class="me-2" style="width: 30px"/>
                                        <ngb-highlight [result]="transaction.serviceName" [term]="searchTerm" />
                                    </td>
                                    @if (historyType) {
                                        <td>
                                            <ngb-highlight [result]="transaction.cashier.name" [term]="searchTerm" />
                                        </td>
                                    }
                                    @if (historyType === 'global') {
                                        <td>
                                            <ngb-highlight [result]="transaction.cashier.agency.name" [term]="searchTerm" />
                                        </td>
                                    }
                                    <td class="text-end pe-3">
                                        <ngb-highlight [result]="transaction.amount | currency: 'XAF'" [term]="searchTerm" />
                                    </td>
                                    <td>{{(transaction.date | date: 'dd/MM/yyyy - HH:mm') || 'N/A' }}</td>
                                    <td class="col-status">
                                        <span class="badge rounded-pill p-2 text-bg-{{ transaction.status | statusBadge }}">
                                            {{ 'badge.' + transaction.status | translate | uppercase }}
                                        </span>
                                    </td>
                                    <td class="col-action">
                                        <div class="d-flex flex-wrap gap-2 justify-content-center">
                                            <button role="button" class="btn btn-info text-white text-14" [ngbTooltip]="'btn.detail' | translate"
                                                    (click)="openDetailTrx(modalDetailTrx, transaction)" *hasPermission="Permission.HISTORY_CASHIER_DETAIL">
                                                <i class="i-Information fw-medium"></i>
                                            </button>
                                            <button role="button" class="btn btn-primary text-14" [ngbTooltip]="'btn.download_receipt' | translate"
                                                    (click)="downloadReceipt(transaction)">
                                                <i class="i-Download-from-Cloud fw-medium"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            } @empty {
                                <tr>
                                    <td [attr.colspan]="historyType ? (historyType === 'global' ? 9 : 8) : 7" style="text-align: center">
                                        {{ 'table.empty_data' | translate }}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="d-flex flex-wrap gap-3 justify-content-between py-2">
                    <ngb-pagination [collectionSize]="pagination?.totalItems || 0" [page]="pagination?.page"
                                    [pageSize]="pagination?.pageSize" (pageChange)="setPage($event)" [boundaryLinks]="true">
                    </ngb-pagination>

                    <div class="d-flex">
                        <label class="text-14 fw-medium py-2 pe-3">
                            {{ 'table.item_per_page' | translate }}
                        </label>
                        <ng-select [items]="pageSizeOptions" class="custom" [dropdownPosition]="'top'" [clearable]="false" name="pageSize"
                                   (change)="setPageSize($event)" [ngModel]="pagination?.pageSize">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalDetailTrx let-modal>
    <div class="modal-header">
        <h4 class="modal-title fw-semibold" id="modal-payment-instructions">{{ 'transactions.detail_transaction' | translate }}</h4>
        <a role="button" class="btn btn-close" aria-label="Close" (click)="modal.close()"></a>
    </div>
    <div class="modal-body">
        <ng-scrollbar visibility="hover" style="height: 60vh;">
            <app-table-detail [data]="datasTransaction" [pageSize]="10" [paginate]="true"></app-table-detail>
        </ng-scrollbar>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">{{ 'btn.close' | translate }}</button>
    </div>
</ng-template>
