<div class="app-footer">
	<!-- <div class="row">
		<div class="col-md-9">
			<p></p>
		</div>
	</div> -->
	<div class="footer-bottom d-flex gap-1 flex-column flex-sm-row align-items-center">
        <strong>CCA Bank - Agency Banking</strong>

		<span class="flex-grow-1"></span>
		<div class="d-flex gap-2 align-items-center">
			<img class="logo" src="assets/images/logo-text.png" alt="">
			<div class="text-end">
				<p class="m-0">&copy; {{year}} CCA Bank</p>
				<p class="m-0">{{ 'app.copyright' | translate }}</p>
			</div>
		</div>
	</div>
</div>
