<app-breadcrumb></app-breadcrumb>

<div class="row" id="scroll-container">
    <div class="col-md-12">
        <div class="card o-hidden">
            <div class="p-4">
                <div class="mb-4 row">
                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-3">
                        <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="searchTerm"
                               (input)="filterUpdate($event)" [placeholder]="'form.search_plh' | translate"/>
                    </div>
                    @if (loading$ | async) {
                        <span class="col col-form-label">Loading...</span>
                    }
                </div>

                <div class="rounded-table overflow-x-auto">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th class="px-3" scope="col" role="button">Référence</th>
                            <th scope="col" role="button">Client</th>
                            <th scope="col" role="button">Conjoint</th>
                            <th scope="col" role="button">Date</th>
                            <th class="text-center"  scope="col" role="button">Status</th>
                            <th class="text-center" scope="col" role="button">{{ 'table.action' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (inscription of items$ | async; track inscription.id) {
                                <tr>
                                    <td class="px-3"><ngb-highlight [result]="inscription.reference" [term]="searchTerm" /></td>
                                    <td><ngb-highlight [result]="inscription.fullName" [term]="searchTerm" /></td>
                                    <td><ngb-highlight [result]="inscription.fullNameConjoint" [term]="searchTerm" /></td>
                                    <td>{{(inscription.creationDate | date: 'medium') || 'N/A' }}</td>
                                    <td class="col-status">
                                        <span class="badge rounded-pill p-2 text-bg-success text-white">
                                            {{ inscription.status  | uppercase }}
                                        </span>
                                    </td>
                                    <td class="col-action" ngbDropdown container="body">
                                        <button role="button" class="btn bg-white border-0 visible-none" id="actionDropdown" ngbDropdownToggle>
                                            <span class="line-height-1 text-14 fw-bolder">...</span>
                                        </button>

                                        <div ngbDropdownMenu aria-labelledby="actionDropdown">
                                            <button role="button" class="dropdown-item" (click)="downloadDocument(inscription.reference, 'customer-profile')">
                                                <i class="i-Information text-14 pe-1"></i>
                                                Fiche Client
                                            </button>
                                            <button *ngIf="inscription.status=='CONSULTED'" role="button" class="dropdown-item" (click)="downloadDocument(inscription.reference, 'consultation-report')">
                                                <i class="i-Receipt text-14 pe-1"></i>
                                                Rapport de Consultation
                                            </button>
                                            <!--button role="button" class="dropdown-item" (click)="viewOperationReview(agency)"
                                                    *hasPermission="Permission.AGENCY_OPEN">
                                                <i class="i-Power-2 text-14 pe-1"></i>
                                                {{('btn.agent_available.' + agency.avaibility) | translate}}
                                            </button>
                                            <button role="button" class="dropdown-item" (click)="openConfirmModal(agency)"
                                                    *hasPermission="Permission.AGENCY_ENABLE">
                                                <i class="i-Lock-2 text-14 pe-1"></i>
                                                {{('btn.agency_active.' + !agency.enabled) | translate}}
                                            </button-->
                                        </div>
                                    </td>
                                </tr>
                            } @empty {
                                <tr>
                                    <td colspan="8" style="text-align: center">
                                        {{ 'table.empty_data' | translate }}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="d-flex flex-wrap gap-3 justify-content-between py-2">
                    <ngb-pagination [collectionSize]="pagination?.totalItems || 0" [page]="pagination?.page"
                                    [pageSize]="pagination?.pageSize" (pageChange)="setPage($event)" [boundaryLinks]="true">
                    </ngb-pagination>

                    <div class="d-flex">
                        <label class="text-14 fw-medium py-2 pe-3">
                            {{ 'table.item_per_page' | translate }}
                        </label>
                        <ng-select [items]="pageSizeOptions" class="custom" [dropdownPosition]="'top'" [clearable]="false" name="pageSize"
                                   (change)="setPageSize($event)" [ngModel]="pagination?.pageSize">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
