@use "../../themes/themes" as theme;

.app-footer {
    margin-top: 2rem;
    background: theme.$white;
    padding: 1.25rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .footer-bottom {
        width: 100%;
        .logo {
            height: 3rem;
            width: auto;
            margin: 4px 1rem 4px 4px;
        }
    }
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}
