<div class="breadcrumb text-capitalize" *ngIf="breadcrumbs$ | async as breadcrumbs">
    <h1 class="text-truncate">
        @if (subName) { <i role="button" class="i-Left" (click)="back()"></i> }
        {{ breadcrumbs[breadcrumbs.length - 1].label | translate }}
        {{ subName ? (' - ' + subName) : '' }}
    </h1>
    @if (breadcrumbs.length > 1) {
        <ul>
            @for (bc of breadcrumbs; track bc; let isLast = $last) {
                @if (!isLast) {
                    <li><a [routerLink]="bc.url">{{ bc.label | translate}}</a></li>
                } @else {
                    <li>{{ bc.label | translate}}</li>
                }
            }
        </ul>
    }
</div>

<div class="separator-breadcrumb border-top"></div>
