.modal-dialog{
    animation-name: zoomIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.modal-body {
    &.scroll-modal {
        height: max-content;
        max-height: 70vh;
        overflow-y: auto;
    }

    .avatar {
        height: 76px;
        width: 76px;

        &.rounded-full {
            border-radius: 50%;
        }
    }
}
