<div class="main-header" [ngStyle]="navService.sidebarState.sidenavOpen ? {'padding-left': '0.5rem'} : {'padding-left': '2rem'}">
  <picture class="logo">
    <source media="(min-width: 576px)" srcset="assets/images/logo-text.png">
    <img src="assets/images/logo.png" alt="Exemple d'image responsive">
  </picture>

  <div class="menu-toggle" (click)="toggleSidebar()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="d-none d-md-inline-flex align-items-center">
    <h3 class="bg-body-secondary rounded-5 m-0 px-3 py-1 d-inline-flex align-items-center fw-bold text-primary">
      <i class="i-Coins pe-3"></i>
      <span class="" style="line-height: unset">
        {{ (accountSrv.accountOperation?.balance | currency: accountSrv.accountOperation?.currency?.code) || 'N/A' }}
      </span>
      @if (!accountSrv.accountOperation?.balance) {
          <span class="ms-3 p-1 bg-white rounded-5" style="line-height: 0" (click)="getAccount()">
            <i class="i-Reload fw-bold" role="button"></i>
          </span>
      }
    </h3>
  </div>

  <div style="margin: auto"></div>

  <div class="header-part-right">
    <i fullScreenWindow class="i-Full-Screen header-icon d-none d-sm-inline-block" role="button"></i>

    <div ngbDropdown [placement]="'bottom-right'">
      <div class="badge-top-container">
        <span class="badge p-0 position-absolute bg-danger rounded-circle d-flex justify-content-center align-items-center">{{notifications?.length}}</span>
        <i ngbDropdownToggle class="i-Bell text-muted header-icon" role="button"></i>
      </div>
      <div ngbDropdownMenu class="notification-dropdown">
        <ng-scrollbar>
          @for (item of notifications; track item) {
            <div class="dropdown-item d-flex" [routerLink]="[item.link]">
              <div class="notification-icon">
                <i class="{{item.icon}} text-{{item.status}} me-1"></i>
              </div>
              <div class="notification-details flex-grow-1">
                <p class="m-0 d-flex align-items-center">
                  <span>{{item.title}}</span>
                  @if (item.badge) {
                    <span
                    class="badge badge-pill badge-{{item.status}} ms-1 me-1">{{item.badge}}</span>
                  }
                  <span class="flex-grow-1"></span>
                  <span class="text-small text-muted ms-auto">{{item.time | relativeTime}}</span>
                </p>
                <p class="text-small text-muted m-0">{{item.text | excerpt:30}}</p>
              </div>
            </div>
          }
        </ng-scrollbar>
      </div>
    </div>

    <div ngbDropdown [placement]="'bottom-right'" class="d-inline-block language">
      <div class="header-icon" ngbDropdownToggle role="button" id="languageDropdown">
        <img [src]="'assets/images/flags/' + translate.getCurrentLang() + '.png'" alt="" class="language-rounded">
      </div>
      <div ngbDropdownMenu aria-labelledby="languageDropdown" class="header-account-dropdown">
        <button class="dropdown-item" *ngFor="let lang of languages; first as isFirst" (click)="changeLanguage(lang)"
                [ngClass]="{'border-top border-light-subtle': !isFirst}">
          <img [src]="'assets/images/flags/' + lang + '.png'" alt="">
          <span>{{('app.language_' + lang) | translate}}</span>
        </button>
      </div>
    </div>

    <div ngbDropdown [placement]="'bottom-right'" class="user col align-self-end pl-2">
      <div class="rounded-5 d-inline-flex align-items-center" id="userDropdown" role="button" ngbDropdownToggle style="line-height: 0">
        <span>{{ user.name || user.username }}</span>
        <span class="text-35 ms-2 bg-body-secondary rounded-5">
          <i class="i-Male-21"></i>
        </span>
      </div>

      <div ngbDropdownMenu aria-labelledby="userDropdown" class="header-account-dropdown">
        <div class="dropdown-header">
          <i class="i-Administrator me-1"></i> {{ user.username }}
        </div>
        <button class="dropdown-item border-top border-light-subtle" routerLink="account-settings">
          {{ 'navigation.profile' | translate }}
        </button>
        <button class="dropdown-item border-top border-light-subtle" routerLink="transactions/history">
          {{ 'navigation.transaction_history' | translate }}
        </button>
        <button class="dropdown-item border-top border-light-subtle" (click)="signOut()">
          {{ 'sessions.sign_out' | translate }}
        </button>
      </div>
    </div>

  </div>

</div>
